.n-header {
  height: 80px;
  background-color: #0095da;
  border-radius: 0px;
  margin-bottom: 0px;
}
.n-header-wrapper,
.navbar-wrapper {
    height: 100%;
    min-width: 1024px;
}
.jx-logo {
  height: 80px;
  line-height: 80px;
  vertical-align: middle;
}
.jx-logo>img {
  display: inline-block;
  vertical-align: baseline;
}

.nav-items {
  height: 100%;
  float: right;
}

.nav-item {
  /* display: inline-block; */
  background: #81b5d6;
  color: #185d87 !important;
  display: block;
  height: 36px !important;
  line-height: 36px !important;
  text-align: center;
  float: right;
  margin-left: 10px;
  margin-top: 40px;
  transform: translateY(-50%);
  width: 100px;
  padding-top: 0px !important;
}

.nav-item:hover {
  background: #e7e7e7 !important;
}

.main,
.main-content,
.mian-row {
  height: 100%;
}
.left {
  padding: 0px;
  background: rgb(238, 238, 238);
  border-right: solid 1px #ddd !important;
  height: 100%;
}
.right {
  padding: 0;
}
.current-user {
  text-align: center;
  font: 14px/38px "微软雅黑" !important;
  color: #7e7e7e;
  height: 38px;
  border-bottom: solid 1px #dddddd;
}
.class-list li {
  background: url(../image/xin2.jpg) no-repeat 17px center;
  color: #678090;
  height: 58px;
  font: 18px/58px "微软雅黑";
  padding-left: 53px;
  width: 100%;
  border-bottom: solid 1px #dddddd;
  cursor: pointer;
}
.class-list li.active {
  background-color: #fff;
  border-right: none;
}