.n-header {
  height: 80px;
  background-color: #0095da;
  border-radius: 0px;
  margin-bottom: 0px;
}
.n-header-wrapper,
.navbar-wrapper {
    height: 100%;
    min-width: 1024px;
}
.jx-logo {
  height: 80px;
  line-height: 80px;
  vertical-align: middle;
}
.jx-logo>img {
  display: inline-block;
  vertical-align: baseline;
}

.nav-items {
  height: 100%;
  float: right;
}

.nav-item {
  /* display: inline-block; */
  background: #81b5d6;
  color: #185d87 !important;
  display: block;
  height: 36px !important;
  line-height: 36px !important;
  text-align: center;
  float: right;
  margin-left: 10px;
  margin-top: 40px;
  transform: translateY(-50%);
  width: 100px;
  padding-top: 0px !important;
}

.nav-item:hover {
  background: #e7e7e7 !important;
}

.main,
.main-content,
.mian-row {
  height: 100%;
}
.left {
  padding: 0px;
  background: rgb(238, 238, 238);
  border-right: solid 1px #ddd !important;
  height: 100%;
}
.right {
  padding: 0;
}
.current-user {
  text-align: center;
  font: 14px/38px "微软雅黑" !important;
  color: #7e7e7e;
  height: 38px;
  border-bottom: solid 1px #dddddd;
}
.class-list li {
  background: url(../image/xin2.jpg) no-repeat 17px center;
  color: #678090;
  height: 58px;
  font: 18px/58px "微软雅黑";
  padding-left: 53px;
  width: 100%;
  border-bottom: solid 1px #dddddd;
  cursor: pointer;
}
.class-list li.active {
  background-color: #fff;
  border-right: none;
}
.right-header {
  height: 38px;
  line-height: 38px;
  background-color: rgb(245,245,245);
  color: rgb(160, 160, 160);
  padding-left: 20px;
  font-size: 14px;
}
.right-info {
  height: 60px;
}
.right-info .right-class {
  color: rgb(0, 149, 218);
  font: bold 18px / 60px 微软雅黑;
}
.searchBox {
  padding-top: 15px;
  padding-right: 24px;
  width: 320px;
}
.searchInput {
  height: 30px;
  width: 244px;
  overflow: hidden;
}
.searchInput input {
    width: 243px;
    border: solid 1px #ddd;
    height: 30px;
    text-indent: 10px;
}
.searchBtn {
  height: 30px;
  width: 36px;
  margin-right: 10px;
}
.searchBtn input {
  background: url('../image/search.jpg');
  width: 36px;
  height: 30px;
  border: none;
  text-indent: -999px;
}
.right-btns {
  border: 1px solid #ddd;
  padding: 20px;
  margin-bottom: 20px;
}
.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}
.table>thead {
  background: rgb(241, 244, 249);
}
.table tr td, 
.table tr th {
  font: 18px/37px "微软雅黑";
  color: #808080;
}
.btn-del {
  margin-left: 10px;
}
#myModal .modal-dialog {
  width: 800px;
}
.e-tr {
  width: 100%;
  height: 40px;
  line-height: 40px;
  vertical-align: middle;
  color: #678090;
  padding: 0 10px;
  margin-top: 20px;
}
.e-tr label {
  padding-left: 10px;
  padding-right: 10px;
  height: 40px;
  margin: 0;
  background: #fff;
  font-weight: normal;
  vertical-align: middle;
}
.e-tr input {
  width: 110px;
  height: 40px;
  text-indent: 5px;
  font-size: 16px;
  border: none;
  outline: none;
  padding: 0;
  vertical-align: middle;
  border: 1px solid #ccc;
}
.e-tr input:focus {
  border: 1px solid #56a5f1;
  border-radius: 4px;
  outline: 1px solid #56a5f1;
}
.e-select {
  width: 110px;
  height: 40px;
  vertical-align: middle;
  border-radius: 0px;
  background: #fff;
  border: 1px solid #ccc;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: url(../image/arrow.png) no-repeat scroll right center transparent;
  padding-right: 14px;
  text-indent: 10px;
}
.u-infors .col-md-4, .u-infors .col-md-9 {
  padding: 0;
}
.stu-modal-body {
  height: 160px;
}