body {
    color: #333;
    font: 12px/22px "微软雅黑";
}

.header {
    height: 97px;
    margin: 0 auto;
    width: 960px;
}

.logo {
    background: url(../image/logo.png) no-repeat left center;
    background-size: 35px;
    color: #515151;
    height: 35px;
    font: 30px/35px "黑体";
    padding-left: 50px;
    margin-top: 35px;
    width: 240px;
}

.main {
    background: #2980b6 url(../image/map.png) no-repeat center center;
    height: 400px;
}

.mainBox {
    height: 360px;
    margin: 0 auto;
    padding-top: 40px;
    width: 960px;
}

.loginBox {
    background: #fff;
    height: 280px;
    box-shadow: #666 0 0 3px;
    margin-left: 610px;
    padding: 20px;
    width: 260px;
}

.textBorder {
    border: solid 1px #cbced0;
    height: 36px;
    margin-top: 20px;
    padding-left: 10px;
    /*使字体在框中后移10px*/
    width: 248px;
}

.yzmbox {
    height: 40px;
}

#login {
    background: #3fb3b2;
    border: none;
    cursor: pointer;
    font: 18px/40px "微软雅黑";
    margin-top: 20px;
    height: 40px;
    width: 260px;
    color: #ffffff;
}

.copy {
    text-align: center;
    color: #888;
    padding-top: 20px;
}

#mpanel1 {
    padding-top: 20px;
}

.verify-code {
    float: right;
    margin-top: 5px;
    margin-right: 20px;
}

.verify-code-area {
    width: 90px !important;
    /* height: 30px; */
    float: left;
    /* margin-left: 10px; */
    margin-top: 5px;
}

.varify-input-code {
    width: 140px;
    height: 30px;
}

.verify-code-area .verify-change-code {
    display: none;
}