@charset 'utf-8';
html,body{
    height: 100%;
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,h6,ul,ol {
    margin: 0;
    padding: 0;
}
ul li,ol li {
    list-style: none;
}
.fr {
    float: right;
}
.fl {
    float: left;
}